<launch>
	<group>
		<node pkg="iq_sim" type="datalogger.py" name="datalogger" output="screen">
		</node>
	</group>

	<!-- <group>
		<node pkg="iq_gnc" type="square" name="square2" output="screen" ns="/interceptor">
			<param name="namespace" value="/interceptor"/>
			<param name="use_sim_time"  value="true" />
		</node>
	</group> -->
</launch>